<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="TagDBEntities" connectionString="metadata=res://*/TagDBContext.csdl|res://*/TagDBContext.ssdl|res://*/TagDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FORECAST\SQLEXPRESS;initial catalog=ppe_kmpo;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>