.plot
{
    clear: both;
    width:100%;
    height:300px;
    }

.legend
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    }
.legendLabel {
    padding-right: 15px;
}

.plotheader
{
    clear:both;
    text-align:center;
    }
    
.plotheader .header
{
    float:left;
    width:100%;
    margin-right:-35px;
    }
.plotheader .warning
{
    float:right;
    width:33px;
    border: 1px solid #FBEED5;
    margin: -1px;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;

    border-radius: 4px 4px 4px 4px;
    }  
    
.axisLabel {
    /*font-size: 12px;*/
    position: absolute;
    text-align: center;
}
.xaxisLabel {
    bottom: 3px;
    left: 0;
    right: 0;
}
.yaxisLabel {
    top: 50%;
    left: 2px;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0; 
}
.ie7 .yaxisLabel, .ie8 .yaxisLabel {
    top: 40%;
    font-size: 36px;
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.0, M12=0.33, M21=-0.33, M22=0.0,sizingMethod='auto expand');
} 
