.ReportToolbar INPUT, .ReportToolbar SELECT, .ReportToolbar BUTTON
{
    font-size: 8pt;
    font-family: Verdana;
    margin-bottom: 1px;
    width: auto;
    height: auto;
}

.InputButtonClass
{
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 0 !important;
    margin-left: 8px;
    height: 26px;
    padding-bottom: 2px;
    padding-top: 2px;
}