@{
    ViewBag.Title = "Главная";
}
<div class="content">
<img src="@Url.Content("~/Content/title_cet.png")" alt="" />
<h2>О Нас</h2>
<p>
     <strong>Центр энергосберегающих технологий Республики Татарстан при Кабинете Министров Республики Татарстан</strong> (Центр) создан в  1997 году в соответствии с
     Постановлением Кабинета Министров Республики Татарстан от 19.02.1997г. № 145 в целях обеспечения  разработки нормативно-методических основ реализации
     политики энергосбережения и повышения ресурсоэффективности, разработки и реализации пилотных инновационных проектов энергоэффективности и энергосбережения,
     прежде всего в реальном секторе экономики и бюджетной сфере республики.
</p>
<p>
    В марте 2000 года Постановлением Кабинета Министров Республики Татарстан от 30.03.2000г. № 204 Центр был преобразован в <strong> государственное  учреждение
     «Центр энергосберегающих технологий Республики Татарстан при Кабинете Министров Республики Татарстан»</strong>.
</p>
<p>
    В январе 2011 года Постановлением Кабинета Министров Республики Татарстан от 31.01.2011г. № 57 Центр был преобразован путем изменения типа  в <strong>государственное
    автономное учреждение «Центр энергосберегающих технологий Республики Татарстан при Кабинете Министров Республики Татарстан»</strong>.
 </p>
 <p>
     <strong>Миссия Центра</strong> - научно-техническое и аналитическое обеспечение деятельности органов государственного управления, предприятий, учреждений и организаций в сфере
     энергосбережения и ресурсоэффективности, внедрение передовых энерго- и ресурсосберегающих техники и технологий.
</p>
</div>