@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="content">
    <h2>
        Извините, произошла ошибка.
    </h2>
    <p>
        @if (@Model != null)
        { 
            @Model.Exception.Message.ToString()
        }
    </p>
</div>
